.git
.vscode
__pycache__
*.pyc
*.pyo
*.egg-info
logs
tests
dockerfile
docker-compose.yml
.dockerignore
*.pt
*.pth
*.gguf
*.bin
*.onnx
*.log
*.ipynb

models
songs
datasets
dist
output
.cache
.gitignore
.venv