version: "3.8"
services:
  rvc-studio:
    image: rvc-studio:latest
    build:
      context: .
    container_name: RVC-Studio
    volumes:
      - ./models:/app/models
      - ./output:/app/output
      - ./datasets:/app/datasets # you can use this folder in order to provide your dataset for model training
      - ./songs:/app/songs
      - ./logs:/app/logs
      - .cache:/app/.cache
    ports:
      - 8501:8501
      - 6006:6006
    stop_signal: SIGINT
    deploy:
      resources:
        reservations:
          cpus: ".999"
          devices:
              - driver: nvidia
                device_ids: ['0']
                capabilities: [gpu]